body {
  background-color: #BA2F39;
}
.header {
}
.header p {
  font-size: 20px;
  color: #fff;
}
.preview-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
img {
  border-radius: 7px;
  margin: 10px;
}
