body {
  background-color: #BA2F39;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header p {
  font-family: sans-serif;
  font-size: 30px;
  color: #5CCCCC;
}
#avatar {
  border-radius: 50px;
}
.preview-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
img {
  border-radius: 7px;
  margin: 10px;
}
